
<% @parks.each do |park|%>
  <p>Park Name: <%= park.fullName %></p>
  <p>Description: <%= park.description %></p>
  <p>Direction Info: <%= park.directionsInfo %></p>
  <p>Standard Hours: <%= park.standardHours %></p>
<% end %>